{% extends "base.html" %}
{% block title %}Cadastro{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Bem-vindo ao Sistema de Cadastro</h1>
</div>

<div class="container">
    <h2>Selecione uma opção para cadastro:</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('cadastro_aluno') }}">Cadastro de Alunos</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('cadastro_professores') }}">Cadastro de Professores</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('cadastro_disciplinas') }}">Cadastro de Disciplinas</a>
        </li>
    </ul>
</div>
{% endblock %}
